@import '_normalize';
@import '_slick';

$text-font: 'Open Sans', sans-serif;
$text-source: 'Source Sans Pro', sans-serif;

$text-color: #81868e;
$text-color2: #333b46;

$scroll: #19bd9a;

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font: 400 1.4rem/1.6 $text-font;
  min-height: 100%;
  color: $text-color;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.section {
  height: 100vh;
  &--bg {
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.container {
  width: 1170px;
  margin: 0 auto;
  &--center {
    text-align: center;
    padding: 75px 0 65px 0;
  }
  &--title {
    text-transform: uppercase;
    font-weight: 300;
    font-family: $text-source;
    letter-spacing: 5px;
    font-size: 3.5rem;
    &-color {
      font-size: 2.0rem;
      color: $text-color2;
    }
  }
  &--subtitle {
    text-align: center;
    width: 630px;
    font-size: 1.6rem;
    &-color {
      font-size: 1.4rem;
      //color: $text-color;
    }
  }
  &__scroll {
    position: absolute;
    background-color: $scroll;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: 70px;
    display: inline-block;
    img {
      width: 12px;
      height: 7px;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &:hover,
    &:focus,
    &:active {
      transform: scale(1.2);
    }
  }
  &--flex {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    &-position {
      padding-bottom: 60px;
    }
  }
  &__nav {
    font-size: 0;
    padding: 2rem 0;
    &-logo {
      width: 180px;
      display: inline-block;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
    &-menu {
      padding: 0;
      width: calc(100% - 180px);
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: middle;
      text-align: right;
      li {
        display: inline-block;
        padding: 10px;
        a {
          color: #ffffff;
          text-decoration: none;
          display: inline-block;
          padding: 10px 20px;
          border-radius: 25px;
          border: 2px solid transparent;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
          &:hover,
          &:focus,
          &:active {
            border-color: #ffffff;
          }
        }
        &.active a {
          border-color: #ffffff;
        }
      }
    }
  }
  &--switchers {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      a {
        color: #464646;
        font-size: 1.6rem;
        text-decoration: none;
        padding: 5px 15px;
        position: relative;
        &:hover:after,
        &:focus:after,
        &:active:after {
          content: '';
          background-color: $scroll;
          position: absolute;
          width: 40px;
          height: 2px;
          bottom: -5px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      &.active a:after {
        content: '';
        background-color: $scroll;
        position: absolute;
        width: 40px;
        height: 2px;
        bottom: -5px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
  &--images {
    font-size: 0;
    width: 100%;
    margin-top: 30px;
    .image-sizer {
      width: 1%;
    }
    .gutter-sizer {
      width: 2%;
    }
    &-image {
      width: 23%;
      margin-bottom: 10px;
      img {
        width: 270px;
      }
    }
  }
}

.slider {
  position: relative;
  margin-bottom: 5vh;
  .slide {
    //height: 100vh;
    padding: 5vh 0;
    text-align: center;
    &-img, &-text {
      display: inline-block;
    }
    &-text {
      margin-left: 400px;
      width: 370px;
      text-align: right;
      &--position {
        text-align: left;
        width: 770px;
        margin-left: 60px;
      }
      &-title {
        border-right: 4px solid #19bd9a;
        padding-right: 40px;
        &--border {
          border: none;
          margin-top: 30px;
        }
        h3 {
          margin: 0;
          font-size: 2rem;
        }
        &--color {
          text-transform: uppercase;
          color: #19bd9a;
        }
        span {
          display: block;
          font-family: $text-source;
          margin-bottom: 20px;
          font-size: 1.4rem;
          text-transform: uppercase;
        }
      }
      &-subtitle {
        padding-right: 40px;

      }
    }
  }
}

.letstalk {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-color: #000;
  position: relative;
  img {
    width: 100%;
    opacity: 0.2;
    position: absolute;
  }
  .title {
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    p {
      font-size: 2rem;
      margin-bottom: 30px;
      margin-top: 0;
    }
    .button {
      text-decoration: none;
      font-size: 1.6rem;
      color: #ffffff;
      border-radius: 20px;
      border: 1px solid #ffffff;
      padding: 10px 25px;
      &:hover,
      &:focus,
      &:active {
        color: darkred;
        border-color: darkred;
      }
    }

  }

}

.content {
  width: 1170px;
  margin: 50px auto;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

#map {
  height: 50vh;
}

.footer {
  a {
    margin-bottom: 25px;
    display: inline-block;
  }
  .menu-icons {
    padding: 0;
    margin-top: 40px;
    li {
      display: inline-block;
      list-style-type: none;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      transition: all .3s ease-in-out;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover,
      &:focus {
        transform: scale(1.3);
      }
      .icon {
        img {
          width: 100%;
        }

      }
    }
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  text-align: center;
  padding: 10px;
  li {
    display: inline-block;
    margin: 0 10px;
    button {
      display: inline-block;
      font-size: 0;
      width: 10px;
      height: 15px;
      border-radius: 50%;
      background: #ffffff;
      border: 2px solid #19bd9a;
      outline: none;
      transition: all .4s ease;
      &:hover,
      &:focus {
        background: #19bd9a;
        cursor: pointer;
      }
    }
    &.slick-active {
      button {
        background: #19bd9a;
      }
    }
  }
}

//
//.btn {
//  text-transform: uppercase;
//  color: #fff;
//  text-decoration: none;
//  display: inline-block;
//  padding: 15px 30px;
//  background-color: #eecd31;
//  border-radius: 30px;
//  border: 1px solid #eecd31;
//  font-weight: 400;
//  transition: all .4s ease;
//  &:hover,
//  &:focus {
//    background-color: transparent;
//    color: #eecd31;
//  }
//}


